In [4]:
import pandas as pd
import dateutil
data=pd.read_csv('phone_data.csv')
data['date']=data['date'].apply(dateutil.parser.parse,dayfirst=True)

In [17]:
data['duration'].max()

10528.0

In [18]:
data['duration'][data['item']=='call'].max()

10528.0

In [19]:
data['duration'][data['item']=='data'].max()

34.429

In [20]:
data['duration'][data['item'] == 'call'].sum()

92321.0

In [28]:
data['duration'][(data['item'] == 'sms') | (data['item'] == 'data')].sum()

5456.35

In [29]:
data['month'].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64

In [34]:
data['network'][data['item']=='data'].value_counts()

data    150
Name: network, dtype: int64

In [35]:
data['network'][data['item']=='call'].value_counts()

Three        128
Tesco         71
Vodafone      66
Meteor        54
landline      42
voicemail     27
Name: network, dtype: int64

In [45]:
data[data['item']=='call'].groupby('network')['duration'].mean()

network
Meteor       133.333333
Tesco        194.760563
Three        284.875000
Vodafone     221.530303
landline     438.880952
voicemail     65.740741
Name: duration, dtype: float64

In [46]:
data[data['item']=='data'].groupby('network')['duration'].mean()

network
data    34.429
Name: duration, dtype: float64

In [47]:
data.groupby('month')['date'].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [48]:
data[data['item']=='call'].groupby('network')['duration'].count()

network
Meteor        54
Tesco         71
Three        128
Vodafone      66
landline      42
voicemail     27
Name: duration, dtype: int64

In [49]:
data[data['item']=='sms'].groupby('network')['duration'].count()

network
Meteor       33
Tesco        13
Three        87
Vodafone    149
special       3
world         7
Name: duration, dtype: int64

In [50]:
data.groupby(['month', 'item'])['date'].count()

month    item
2014-11  call    107
         data     29
         sms      94
2014-12  call     79
         data     30
         sms      48
2015-01  call     88
         data     31
         sms      86
2015-02  call     67
         data     31
         sms      39
2015-03  call     47
         data     29
         sms      25
Name: date, dtype: int64

In [51]:
data.groupby(['month', 'network'])['date'].count()

month    network
2014-11  Meteor       23
         Tesco        23
         Three        64
         Vodafone     79
         data         29
         landline      5
         special       1
         voicemail     6
2014-12  Meteor       24
         Tesco        13
         Three        43
         Vodafone     28
         data         30
         landline      7
         voicemail     8
         world         4
2015-01  Meteor       31
         Tesco        15
         Three        59
         Vodafone     55
         data         31
         landline     11
         voicemail     3
2015-02  Meteor        5
         Tesco        22
         Three        33
         Vodafone     30
         data         31
         landline      8
         special       2
         voicemail     6
2015-03  Meteor        4
         Tesco        11
         Three        16
         Vodafone     23
         data         29
         landline     11
         voicemail     4
         world         3
Name: date, dtype: int64

In [56]:
data.groupby(['month', 'network','item'])['duration'].count()

month    network    item
2014-11  Meteor     call    13
                    sms     10
         Tesco      call    20
                    sms      3
         Three      call    39
                    sms     25
         Vodafone   call    24
                    sms     55
         data       data    29
         landline   call     5
         special    sms      1
         voicemail  call     6
2014-12  Meteor     call    12
                    sms     12
         Tesco      call    12
                    sms      1
         Three      call    30
                    sms     13
         Vodafone   call    10
                    sms     18
         data       data    30
         landline   call     7
         voicemail  call     8
         world      sms      4
2015-01  Meteor     call    21
                    sms     10
         Tesco      call    12
                    sms      3
         Three      call    26
                    sms     33
         Vodafone   call    15
                    sms     40
         data       data    31
         landline   call    11
         voicemail  call     3
2015-02  Meteor     call     4
                    sms      1
         Tesco      call    20
                    sms      2
         Three      call    22
                    sms     11
         Vodafone   call     7
                    sms     23
         data       data    31
         landline   call     8
         special    sms      2
         voicemail  call     6
2015-03  Meteor     call     4
         Tesco      call     7
                    sms      4
         Three      call    11
                    sms      5
         Vodafone   call    10
                    sms     13
         data       data    29
         landline   call    11
         voicemail  call     4
         world      sms      3
Name: duration, dtype: int64